.catalog {
  margin-bottom: 58px;
}

.catalog__item {
  position: relative;

  margin-top: 30px;
}

.catalog__wrapper {
  border: 1px solid #f9f9f9;
}

.catalog__item-title {
  font-size: 17px;
  line-height: 24px;
}

.catalog__video-control {
  position: absolute;
  left: 50%;
  top: 115px;

  width: 101px;
  height: 77px;
  box-sizing: border-box;

  font-size: 0;

  background: #98d1c6;
  border: 6px solid #ffffff;
  border-radius: 10px;
  outline: none;

  transform: translate(-50%, -50%);

  cursor: pointer;

  &::after {
    position: absolute;
    top: 30px;
    left: 65px;

    width: 74px;
    height: 31px;
    box-sizing: border-box;

    border-top: 15px solid transparent;
    border-left: 37px solid #ffffff;
    border-bottom: 15px solid transparent;

    transform: translate(-50%, -50%);

    content: "";
  }
}

.catalog__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.catalog__order {
  border-top: 1px solid #f9f9f9;
}

.catalog__price {
  display: block;
  padding: 25px 0;

  font-size: 15px;
  line-height: 24px;
}

.catalog__button {
  margin-bottom: 30px;
}
