.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  .wrapper-inner();
}

.contacts__title {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
}

.contacts__param th {
  width: 78px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}

.contacts__param td {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  text-align: left;
  vertical-align: top;
}

.contacts__link {
  color: #444444;

  text-decoration: none;

  &:hover {
    color: #46c1ae;
  }

  &:active,
  &:focus {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.contacts__map {
  margin-bottom: 40px;
}
