.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__param td {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.contacts__link {
  color: #444444;

  text-decoration: none;

  &:hover {
    color: #46c1ae;
  }

  &:active,
  &:focus {
    color: #46c1ae;
    opacity: 0.3;
  }
}

