.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px 23px 39px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.copyright__text {
  padding-right: 5px;

  font-size: 19px;
  line-height: 23px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  padding-top: 3px;
  padding-right: 8px;

  &--icon {
    path {
      fill: #63d1bb;
    }
  }
}
