.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 69px;
}

.copyright__text {
  font-size: 19px;
  line-height: 23px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__link--icon {
  path {
    fill: #63d1bb;
  }
}
