.filter-text__item {
  margin-bottom: 24px;

  border-bottom: 1px solid #000000;
}

.filter-text__label {
  display: block;

  line-height: 18px;
}

.filter-text__input {
  width: 100%;

  border: none;

  outline: none;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.3);
  }
}

.filter-text__textarea {
  width: 256px;
  height: 138px;
  margin-top: 23px;

  border: 1px solid #000000;

  outline: none;
  resize: none;
  overflow: auto;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.3);
  }
}
