.filter {
  margin-bottom: 55px;
}

.filter__field {
  margin: 0;
  padding: 0;
  padding-top: 65px;

  border: none;

  &--gray {
    @media (min-width: @tablet-width) {
      background-color: #f1f1f1;
    }
  }
}

.filter__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }
}

.filter__field-title {
  position: relative;

  display: block;
  margin-bottom: 35px;
  padding: 0;

  text-transform: uppercase;
  color: #63d1bb;

  &::after {
    position: absolute;
    top: 50%;
    left: 60px;
    width: 198px;
    height: 1px;

    background-color: #cbf0e8;

    content: "";

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 167px;
    box-sizing: border-box;
  }
}

.filter__inner {
  .list-reset();

  @media (min-width: @tablet-width) {
    width: 501px;
  }
}

.filter__description {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.filter__button {
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    order: 1;
    width: 230px;
  }
}
