.filter__field {
  border: none;
}

.filter__field-title {
  position: relative;

  display: block;

  text-transform: uppercase;
  color: #63d1bb;

  &::after {
    position: absolute;
    top: 50%;
    left: 60px;
    width: 198px;
    height: 1px;

    background-color: #cbf0e8;

    content: "";
  }
}

.filter__inner {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter__description {
  margin-bottom: 33px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.filter__button {
  background-color: #ffffff;
}
