.info {
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    margin-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 89px;
    padding-left: 175px;
    box-sizing: border-box;
  }
}

.info__title {
  margin-top: 30px;
  margin-bottom: 86px;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    margin-bottom: 104px;
    margin-left: -6px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;

    font-size: 53px;
    line-height: 57px;
  }
}

.info__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.info__wrapper:first-child {
  margin-bottom: 83px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 16px;
  }
}


.info__item {
  position: relative;
  margin-bottom: 83px;

  line-height: 20px;

  &::after {
    position: absolute;

    content: "";
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    width: 334px;
    margin-bottom: 111px;

    font-size: 20px;
    line-height: 22px;
  }
}

.info__item--eco::after {
  left: 9px;
  top: -54px;

  width: 32px;
  height: 37px;

  background: url("../img/icon-feature-flower.svg") center center no-repeat;
}

.info__item--price::after {
  left: 0;
  top: -54px;

  width: 46px;
  height: 27px;

  background: url("../img/icon-feature-money.svg") center center no-repeat;
}

.info__item--like::after {
  left: 9px;
  top: -49px;

  width: 33px;
  height: 28px;

  background: url("../img/icon-feature-heart.svg") center center no-repeat;
}

.info__item--handmade::after {
  left: 4px;
  top: -51px;

  width: 34px;
  height: 34px;

  background: url("../img/icon-feature-ball.svg") center center no-repeat;
}

.info__item--patriot::after {
  left: -5px;
  top: -51px;

  width: 54px;
  height: 23px;

  background: url("../img/icon-feature-rocket.svg") center center no-repeat;
}


.info__item--gift::after {
  left: 4px;
  top: -54px;

  width: 33px;
  height: 33px;

  background: url("../img/icon-feature-gift.svg") center center no-repeat;
}
