.info {
  width: 260px;
  padding: 0 30px;
}

.info__title {
  margin: 0;
  padding: 0;
  margin-top: 76px;
  margin-bottom: 88px;

  font-size: 25px;
  line-height: 30px;
}

.info__list {
  padding: 0;
}

.info__item {
  margin-bottom: 90px;

  line-height: 20px;

  list-style: none;
}
