.main-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    height: 88px;
  }
}

.main-nav__list {
  .list-reset();

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__list-left {
  position: relative;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    justify-content: space-between;
  }
}

.main-nav__list-left a {
  @media (min-width: @tablet-width) {
    text-align: left;
    padding-right: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 36px;
  }
}

.main-nav__item--border {
  @media (min-width: @desktop-width) {
    position: relative;

    padding-left: 36px;
  }
  &::before {
    @media (min-width: @desktop-width) {
      position: absolute;
      left: 0;

      width: 1px;
      height: 100%;

      background-color: #ececec;

      content: "";
    }
  }
}

.main-nav__list-right {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.main-nav__item a {
  position: relative;

  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 76px;

  color: #000000;
  text-decoration: none;

  background-color: #f6f6f6;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active,
  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;

    background: none;
    box-shadow: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.main-nav__item--active a {
  &:hover {
    color: #000000;
  }

  &:active,
  &:focus {
    color: #000000;
  }
}

.main-nav__item--search a {
  @media (min-width: @tablet-width) {
    width: 17.6px;
    height: 17.6px;
    padding: 36px 31px 33px 33px;
    box-sizing: border-box;

    border-left: 1px solid #ececec;
  }

  &:hover ~ .main-nav__item--search-icon {
    path {
      fill: #d3d2d2;
    }
  }

  &:active ~ .main-nav__item--search-icon {
    path {
      fill: #d0f1ea;
    }
  }

  &:focus ~ .main-nav__item--search-icon {
    path {
      fill: #63d1bb;
    }
  }

  @media (min-width: @tablet-width) {
    width: 82px;
    height: 88px;

    font-size: 0;

    border-right: 1px solid #ececec;
  }
}

.main-nav__item--basket a {
  @media (min-width: @tablet-width) {
    padding: 32px 0 32px 82px;
  }
}

.main-nav__list-adds {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    order: 4;

    font-size: 15px;
  }
}

.main-nav__list-adds a {
  @media (min-width: @desktop-width) {
    padding-right: 60px;
  }
}

.main-nav__item--delivery {
  display: none;

  @media (min-width: @tablet-width) {
    order: 4;

    display: block;

    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;

    text-decoration: none;
  }

  @media (min-width: @desktop-width) {
    order: 5;
  }
}

.main-nav__item--delivery a {
  @media (min-width: @tablet-width) {
    height: auto;

    padding: 0 21px;
  }
}

.main-nav__logo {
  display: block;
  width: 100%;
  padding: 22px 0 17px 115px;
  box-sizing: border-box;

  background-color: #ffffff;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    flex-shrink: 0;
    order: 1;
    width: 320px;
    padding: 21px 0;

    background-color: transparent;
    box-shadow: none;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    width: 250px;
    padding-left: 4px;
  }
}

.main-nav__logo img {
  @media (min-width: @tablet-width) {
    padding-left: 0;
    margin-left: -2px;
  }
}

.main-nav__item--search-icon,
.main-nav__item--basket-icon {
  position: absolute;
  top: 50%;
  left: 33px;

  transform: translate(-50%, -50%);
}

.main-nav__item--search-icon {
  @media (min-width: @tablet-width) {
    left: 50%;
  }
}

.main-nav__item--basket-icon {
  @media (min-width: @tablet-width) {
    left: 41px;
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;

  width: 21px;
  height: 20px;

  font-size: 0;

  background-color: transparent;
  border: none;
  outline: none;

  transform: translate(-50%, -50%);

  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

// Закрывашка меню

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__toggle {
    top: 39px;
    right: 21px;

    &::before {
      position: absolute;
      width: 20px;
      height: 14px;

      background-color: #000000;

      transform: translate(-50%, -50%);

      content: "";
    }

    &::after {
      position: absolute;

      width: 22px;
      height: 10px;
      box-sizing: border-box;

      background-color: transparent;
      border-top: 4px solid #ffffff;
      border-bottom: 4px solid #ffffff;

      transform: translate(-50%, -50%);

      content: "";
    }
  }

  .main-nav--opened .main-nav__toggle {
    top: 35px;
    right: 50px;

    &::before,
    &::after {
      position: absolute;
      width: 28px;
      height: 3px;

      background-color: #000000;

      content: "";
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .main-nav__list-left,
  .main-nav--closed .main-nav__list-right {
    display: none;
  }

  .main-nav--opened.main-nav {
    position: absolute;
    top: 0;
    z-index: 1;

    display: block;
    width: 100%;
  }

  .main-nav--nojs .main-nav__list-left,
  .main-nav--nojs .main-nav__list-right {
    display: block;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
