.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  position: relative;

  flex-basis: 72px;

  background-color: #f6f6f6;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.main-nav__item a {
  display: block;
  width: 100%;
  padding: 28px 0 28px 76px;
  box-sizing: border-box;

  line-height: 24px;
  color: #000000;
  text-decoration: none;


  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active,
  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__logo {
  position: relative;

  background: url("../../img/logo-mobile.svg") no-repeat center center;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 50%;
  right: 0;

  width: 21px;
  height: 20px;

  font-size: 0;

  background-color: transparent;
  border: none;
  outline: none;

  transform: translate(-50%, -50%);

  cursor: pointer;

  &::before {
    position: absolute;
    width: 20px;
    height: 14px;

    background-color: #000000;

    transform: translate(-50%, -50%);

    content: "";
  }

  &::after {
    position: absolute;

    width: 22px;
    height: 10px;
    box-sizing: border-box;

    background-color: transparent;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;

    transform: translate(-50%, -50%);

    content: "";
  }
}


