.page-main__text {
  background-color: #f9f9f9;
  border-top: 1px solid #ececec;

  @media (min-width: @desktop-width) {
    border: none;
  }

  &--gray {
    @media (min-width: @tablet-width) {
      background-color: #f1f1f1;
    }
  }
}

.page-main__title {
  .head-reset();

  min-height: 177px;
  padding: 74px 8px 0 8px;
  box-sizing: border-box;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #010000;
  text-align: center;

  background: #f1f1f1;

  @media (min-width: @tablet-width){
    padding-top: 102px;
    padding-bottom: 83px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    box-sizing: border-box;

    border-top: 1px solid #ececec;
  }

  &--index {
    min-height: 282px;
    padding-top: 69px;

    background: #f1f1f1 url("../img/hero-mobile@1x.jpg") no-repeat center -20px;

    @media (min-width: @tablet-width){
      padding-top: 167px;
      padding-bottom: 371px;

      background-size: cover;
    }
  }
}

.page-main__description {
  padding: 25px 0;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 630px;
    box-sizing: border-box;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding-left: 175px;
    padding-right: 175px;
  }
}
