.product {
  .list-reset();
  .wrapper-main();
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: -128px;
    margin-bottom: 45px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -132px;
    margin-bottom: 124px;
  }
}

.product__item {
  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.product__link {
  position: relative;

  display: block;
  padding: 25px 30px 30px 28px;
  box-sizing: border-box;

  font-size: 19px;
  color: #ffffff;

  text-decoration: none;
  outline: none;
  transition: 0.5s;

  &--interior {
    background-color: #63d1bb;
  }

  &--interior:hover {
    padding-bottom: 34px;
    margin-top: -5px;

    background-color: #59d5bc;
  }

  &--interior:active,
  &--interior:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  &--interior:hover .product__icon-interior {
    fill: rgba(27, 63, 56, 0.7);
  }

  &--interior:active .product__icon-interior,
  &--interior:focus .product__icon-interior {
    fill: rgba(62, 149, 131, 0.3);
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--toys:hover {
    padding-bottom: 34px;
    margin-top: -5px;

    background-color: #46c1ae;
  }

  &--toys:active,
  &--toys:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  &--toys:hover .product__icon-toy {
    fill: rgba(45, 79, 74, 0.7);
  }

  &--toys:active .product__icon-toy,
  &--toys:focus .product__icon-toy {
    fill: rgba(59, 144, 131, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 28px;
    padding-left: 35px;
    padding-bottom: 29px;

    font-size: 20px;
    line-height: 30px;
  }
}

.product__icon-interior,
.product__icon-toy {
  position: absolute;

  transform: translate(-50%, -50%);
  transition: 0.5s;

  content: "";
}

.product__icon-interior {
  top: 52px;
  right: 16px;

  width: 41px;
  height: 63px;

  fill: rgba(49, 104, 93, 0.5);

  @media (min-width: @tablet-width) {
    top: 61px;
  }
}

.product__icon-toy {
  width: 60px;
  height: 60px;

  top: 51px;
  right: -2px;

  fill: rgba(60, 113, 104, 0.5);

  @media (min-width: @tablet-width) {
    right: 5px;
    top: 61px;
  }
}
