.product {
  .list-reset();
  .wrapper-main();
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: -117px;
    padding: 0 50px;
  }
}

.product__item {
  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.product__link {
  position: relative;

  display: block;
  padding: 25px 30px 29px 28px;
  box-sizing: border-box;

  font-size: 19px;
  color: #ffffff;

  text-decoration: none;

  &--interior {
    background-color: #63d1bb;
  }

  &--interior:hover {
    background-color: #59d5bc;
  }

  &--interior:active,
  &--interior:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--toys:hover {
    background-color: #46c1ae;
  }

  &--toys:active,
  &--toys:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {

    width: 100%;
    padding-top: 28px;
    padding-bottom: 29px;

    font-size: 20px;
    line-height: 30px;
  }
}
