.product-item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.product-item__header {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    box-sizing: border-box;
  }
}

.product-item__title {
  .head-reset();
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    z-index: 1000;

    flex-shrink: 0;
    order: 2;

    font-size: 53px;
    line-height: 57px;
  }
}

.product-item__status {
  margin-top: 20px;
  margin-bottom: 55px;

  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;

  @media (min-width: @tablet-width) {
    width: 72px;

    text-align: center;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    flex-shrink: 0;
    width: 175px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}

.product-item__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-item__content {
  @media (min-width: @tablet-width) {
    width: 290px;
    margin-right: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}

.product-item__description {
  margin-top: 0;

  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.product-item__info {
  margin-bottom: 26px;

  @media (min-width: @desktop-width) {
    margin-bottom: 147px;
  }
}

.product-item__param th,
.product-item__param td {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 0;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-align: left;

  border-bottom: 1px solid #ececec;
  border-collapse: collapse;
}

.product-item__param th {
  padding-right: 27px;
}

.product-item__image {
  @media (min-width: @desktop-width) {
    margin-top: -150px;
  }
}

.product-item__footer {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 290px;
    margin-top: -50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
    margin-top: -147px;
  }
}

.product-item__price {
  display: block;

  padding-top: 25px;
  padding-bottom: 25px;

  font-size: 17px;
  text-align: center;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
