.product {
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }
}

.product__link {
  display: block;
  padding: 28px 30px;
  box-sizing: border-box;

  color: #ffffff;

  text-decoration: none;

  &--interior {
    background-color: #63d1bb;
  }

  &--interior:hover {
    background-color: #59d5bc;
  }

  &--interior:active,
  &--interior:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--toys:hover {
    background-color: #46c1ae;
  }

  &--toys:active,
  &--toys:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 334px;
  }
}
