.search {
  display: none;

  padding: 34px 45px;
}

.search__field {
  width: 100%;

  background-color: #f6f6f6;
  border: none;

  &:hover ~ .search__placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active ~ .search__placeholder,
  &:focus ~ .search__placeholder {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.search__button {
  display: none;
}
