.social__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  display: block;

  &--instagram {
    width: 22px;
    height: 21px;
    background: url("../../img/icon-insta.svg") center center no-repeat;
  }

  &--facebook {
    width: 15px;
    height: 29px;
    background: url("../../img/icon-fb.svg") center center no-repeat;
  }

  &--twitter {
    width: 24px;
    height: 20px;
    background: url("../../img/icon-twitter.svg") center center no-repeat;
  }
}
