.social__list {
  .list-reset();

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 62px 27px 57px;
  box-sizing: border-box;

  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    padding: 57px 0;
  }
}

.social__link {
  display: block;

  &--instagram {
    width: 22px;
    height: 21px;
    background: url("../img/icon-insta.svg") center center no-repeat;
  }

  &--facebook {
    width: 15px;
    height: 29px;
    background: url("../img/icon-fb.svg") center center no-repeat;
  }

  &--twitter {
    width: 24px;
    height: 20px;
    background: url("../img/icon-twitter.svg") center center no-repeat;
  }
}
