.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 27px 39px;

  border-bottom: 1px solid #ededed;

  list-style: none;
}

.social__link {
  display: block;

  &--instagram {
    width: 22px;
    height: 21px;
    background: url("../../img/icon-insta.svg") center center no-repeat;
  }

  &--facebook {
    width: 15px;
    height: 29px;
    background: url("../../img/icon-fb.svg") center center no-repeat;
  }

  &--twitter {
    width: 24px;
    height: 20px;
    background: url("../../img/icon-twitter.svg") center center no-repeat;
  }
}
